<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
		<title>Your Victims</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="container-fluid">
			<div id="page" class="row-fluid">
				<div class="span12">

					<header>
						<h1>Victims</h1>
						<div class="btn-group">
							<button class="btn">All</button>
							<button class="btn">Active</button>
							<button class="btn">Expired</button>
						</div>
					</header>
	
					<nav class="navbar navbar-fixed-bottom navbar-inverse">
						<div class="navbar-inner">
							<ul class="nav">
								<li class="active divider-vertical">
									<a href="victims.html">Your Victims</a>
								</li>
								<li class="divider-vertical">
									<a href="blackmail.html">Blackmail</a>
								</li>
								<li class="divider-vertical">
									<a href="#">Settings</a>
								</li>
							</ul>
						</div>
					</nav>
	
					<a class="victim-list-item">
						<h2>Victim’s full name</h2>
						<p class="victim-timer">00:00:00</p>
						<p>[Paid Status]</p>
					</a>

				</div><!-- span12 -->
			</div><!-- page -->
		</div><!-- container -->
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
	</body>
</html>		<script src="assets/js/bootstrap.min.js"></script>
	</body>
</html>