<h1>Blackmail for friends</h1>
<p>
<% unless @current_user.nil? %>
  <pre><%= @current_user.inspect %></pre>
  <%= link_to "Logout", "/logout" %>
<% else %>
  <%= link_to "Login with Facebook", "/auth/singly?service=facebook" %>
<% end %>
</p>