<h1>Blackmail for friends</h1>
<p>
<% if @profiles %>
  <pre><%= @profiles.inspect %></pre>
  <%= link_to "Logout", "/logout" %>
<% else %>
  <%= link_to "Login with Facebook", "/auth/singly?service=facebook" %>
<% end %>
</p>