#page.row-fluid
  .span12
    %h1 Blackmail for Friends
    %p#welcome Proactively expedite emerging technologies rather than standardized testing procedures. Conveniently productize technically sound scenarios without ethical e-markets. Quickly maximize highly efficient products with next-generation paradigms.
    %a.btn.btn-primary{:href=>"/auth/singly?service=facebook"}Login with Facebook
