%h1 FAQ

%h3 1. Legality
%p That's between you and your friend. We provide a valuable platform for you to earn extra income by capturing highlights of your friendship. 

%h3 2. Suggested Blackmails 
%p a. Public nakedness
%p b. Vomiting in public restrooms
%p c. Inadvertent inappropriate groping
%p d. Bad dancing
%p e. Poor singing
%p  f. Falling down
%p  g. Something About Mary hair gel moment
%p h. Peeing in public places

%h3 3. Blackmail Amount Capped at $15
%p You don't want to commit a felony do you? You earn a dollar a second, that's $3600 an hour.

%h3 4. Security
%p Don't know, we're at a hack-a-thon, we're surprised this works at all. 

%h3 5. Warranty, Implied and Otherwise
%p None, relax have fun, don't take yourself too seriously.

%h3 6. Most Important
%h5 You're on your own. Anytime the authorities show-up, we're disavowing you. 


