<html>
	<body>
		<div id="page" class="row-fluid">
			<div class="span12">
				<h1>Blackmail for Friends</h1>
				<p id="welcome">Proactively expedite emerging technologies rather than standardized testing procedures. Conveniently productize technically sound scenarios without ethical e-markets. Quickly maximize highly efficient products with next-generation paradigms.</p>
        %a.btn.btn-primary{:href=>"/logout"}Logout 
				<button class="btn btn-primary" id="fb-login">Log In With Facebook</button>
			</div>
		</div>
	</body>
</html>
